  
  .nav nav-pills ul li {
	color:white;	
}

.row{
	margin-left:25%;
	margin-right:25%;
	margin-top:0%;
	background-color:white;
}
  
h2{
	color:white;
}




footer p{
	margin-left:40%;
	
}


.navbar-inverse{
	background-color:orange;
	border-color:white;
}



 
